#main-toolbar #activity-button {
  background-image: url(../activity/tota-logo.svg);
}

#canvas {
	width: 1200px;
	height: 845px;
	background-color: #77f442;
}

.hidden {
  display: none;
}

#opening {
  width: 1200px;
  height: 845px;
  background-image: url(../img/opening.png);
}

#menu_custom {
  width: 1200px;
  height: 845px;
  background-image: url(../img/menu_custom.png);
}

#menu {
  width: 1200px;
  height: 845px;
  background-image: url(../img/menu.png);
}

#menu_explorar {
  width: 1200px;
  height: 845px;
  background-image: url(../img/menu_explorar.png);
}

#menu_jugar {
  width: 1200px;
  height: 845px;
  background-image: url(../img/menu_jugar.png);
}

#emprendedores {
  width: 1200px;
  height: 845px;
  background-image: url(../img/emprendedores.png);
}

#tips {
  width: 1200px;
  height: 845px;
  background-image: url(../img/tips.png);
}

#pasos {
  width: 1200px;
  height: 845px;
  background-image: url(../img/pasos.png);
}

#conocedor {
  width: 1200px;
  height: 845px;
  background-image: url(../img/conocedor.png);
}

#pensador {
  width: 1200px;
  height: 845px;
  background-image: url(../img/pensador.png);
}

#emprendedor {
  width: 1200px;
  height: 845px;
  background-image: url(../img/emprendedor.png);
}

/*Modal*/
#modal {
  z-index: 998;
  position: absolute;
  top: 0px;
  width: 1200px;
  height: 845px;
  background-color: black;
  opacity: 0.7;
}
#modal_content {
  z-index: 999;
  position: absolute;
  border: 8px solid #18203B;
  border-radius: 40px;

  background-color: white;
  /*top: 40px;
  left: 43px;
  width: 1100px;
  height: 750px;*/
  top: 150px;
  left: 240px;
  width: 700px;
  height: 500px;
}
#modal_content_step {
  z-index: 999;
  position: absolute;
  border: 8px solid #18203B;
  border-radius: 40px;

  background-color: white;
  background-image: url(../img/help/help_step.png);
  top: 150px;
  left: 240px;
  width: 700px;
  height: 500px;
}
.close_modal {
  position: absolute;
  background-image: url(../img/close-modal.png);
  width: 60px;
  height: 60px;
  padding: 0px;
  border: none;
  border-radius: 30px;
  right: 33px;
  top: 33px;
}
.close_modal:hover {
  background-image: url(../img/close-modal-hover.png);
}

/*Emprendedores*/
#img_emprendedores {
  position: absolute;
  background-color: black;
  left: 247px;
  top: 205px;
  width: 250px;
  height: 300px;
}
#content_emprendedores {
  position: absolute;
  left: 530px;
  top: 175px;
  width: 450px;
  height: 370px;
}
#name_emprendedores {
  position: absolute;
  margin: 10px 20px 0px 40px;
  width: 380px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}
#history_emprendedores {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 270px;
  text-align: center;
  font-size: 25px;
}

/*Tips*/
#img_tips {
  position: absolute;
  background-color: black;
  left: 570px;
  top: 205px;
  width: 400px;
  height: 300px;
}
#content_tips {
  position: absolute;
  left: 240px;
  top: 185px;
  width: 285px;
  height: 340px;
}
#sentence_tips {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 125px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
}
#detail_tips {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 150px;
  width: 100%;
  height: 190px;
  color: white;
  font-size: 20px;
  text-align: center;
}

/*Pasos*/
#content_pasos {
  position: absolute;
  border-radius: 250px;
  left: 350px;
  top: 150px;
  width: 500px;
  height: 500px;
}
.step {
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
#step1 {
  left: 345px;
  top: 20px;
}
#step2 {
  left: 438px;/*420*/
  top: 297px;/*300*/
}
#step3 {
  left: 200px;
  top: 473px;
}
#step4 {
  left: -39px;
  top: 300px;
}
#step5 {
  left: 55px;
  top: 20px;
}
.step_name {
  position: absolute;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
  width: 260px;
  height: 50px;
}
#step1_name {
  background-image: url(../img/pasos/step1.png);
  left: 455px;
  top: 30px;
}
#step2_name {
  background-image: url(../img/pasos/step2.png);
  left: 550px;
  top: 310px;
}
#step3_name {
  background-image: url(../img/pasos/step3.png);
  left: 310px;
  top: 485px;
}
#step4_name {
  background-image: url(../img/pasos/step4.png);
  left: -310px;
  top: 315px;
}
#step5_name {
  background-image: url(../img/pasos/step5.png);
  left: -215px;
  top: 30px;
}
#step_character {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 475px; 
  top: 297px;
}
#step_show {
  left: 40px;
  top: 10px;
}
#step_name_show {
  left: 150px;
  top: 25px;
}
#step_content {
  position: absolute;
  width: 585px;
  height: 300px;
  left: 55px;
  top: 145px;
  color: white;
  font-size: 20px;
}

/*Conocedor*/
.health_area {
  position: absolute;
  width: 700px;
  height: 100px;
  left: 10px;
  top: 10px;
}
.attempt {
  float: left;
  background-image: url(../img/attempt.png);
  width: 80px;
  height: 80px;
  margin: 10px;
  color: transparent;
}
#content_conocedor {
  position: absolute;
  width: 1000px;
  height: 550px;
  left: 100px;
  top: 200px;
}
#name_area {
  width: 100%;
  height: 340px;
}
.item_conocedor {
  float: left;
  width: 230px;
  height: 320px;
  margin: 10px;
  text-align: center;
}
.drop {
  background-color: #CC978D;
  width: 200px;
  height: 200px;
  margin: 15px;
}
.item_name {
  width: 200px;
  height: 30px;
  margin: 0px 15px 0px 15px;
  color: #402313;
  font-weight: bold;
  font-size: 18px;
}
.item_detail {
  width: 200px;
  height: 50px;
  margin: 0px 15px 0px 15px;
  color: #402313;
  font-weight: bold;
  font-size: 15px;
}
#answ_area {
  width: 100%;
  height: 200px;
}
.dragzone {
  float: left;
  width: 250px;
  height: 200px;
  margin: 0px;
}
.drag {
  float: left;
  background-color: orange;
  width: 180px;
  height: 180px;
  margin: 10px 35px 10px 35px;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #FFD700;
}
.drop-target { 
  background-color: black;
  border-color: white;
  border-style: solid;
}
.drag-drop.can-drop {
  color: white;
  background-color: #008080;
  border-color: white;
}

/*Pensador*/
#content_pensador {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 100px;
  top: 250px;
}
.item_pensador {
  width: 950px;
  height: 150px;
  margin: 8px;
}
.item_sentence {
  float: left;
  background-image: url(../img/item_sentence.png);
  width: 690px;
  height: 90px;
  margin: 20px 0px 20px 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.item_answ{
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 10px 20px 10px;
  background-color: transparent;
  color: transparent;
  border: none;
}
.item_answ:hover {
  color: transparent;
  background-color: transparent;
}
.item_answ_true {
  background-image: url(../img/buttons/item_answ_true.png);
}
.item_answ_false {
  background-image: url(../img/buttons/item_answ_false.png);
}
.item_answ_true_disable {
  background-image: url(../img/buttons/item_answ_true_disable.png);
}
.item_answ_false_disable {
  background-image: url(../img/buttons/item_answ_false_disable.png);
}
.item_answ_true_disable:hover {
  background-image: url(../img/buttons/item_answ_true.png);
}
.item_answ_false_disable:hover {
  background-image: url(../img/buttons/item_answ_false.png);
}
/*Emprendedor*/
#content_emprendedor {
  position: absolute;
  background-color: white;
  width: 1000px;
  height: 600px;
  left: 100px;
  top: 150px;
}
.item_emprendedor {
  background-color: green;
  width: 950px;
  height: 280px;
  margin: 10px 20px 10px 20px;
}
.item_img {
  float: left;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 90px 20px 90px 50px;
}
.item_step_name {
  float: left;
  background-color: lime;
  width: 150px;
  height: 60px;
  margin: 110px 40px 110px 10px;
}
.item_txt {
  float: left;
  width: 550px;
  height: 240px;
  margin: 15px 5px 15px 5px;resize: none;
  resize: none;
}
#item_emprendedor3 {
  height: 580px;
}
#item_img3 {
  margin: 240px 20px 240px 50px;
}
#item_step_name3 {
  margin: 260px 40px 260px 10px;
}
#item_txt3 {
  height: 540px;
}

/*Buttons*/
#play {
  position: absolute;
  background-image: url(../img/buttons/play.png);
  background-color: transparent;
  width: 390px;
  height: 85px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 405px;
  top: 550px;
}
#play:hover {
  background-image: url(../img/buttons/play_hover.png);
}
#character_male_img {
  float: left;
  background-image: url(../img/characterMale.png);
  background-color: transparent;
  width: 450px;
  height: 680px;
  margin-top: 50px;
  margin-left: 150px;
}
#character_female_img {
  float: left;
  background-image: url(../img/characterFemale.png);
  background-color: transparent;
  width: 450px;
  height: 680px;
  margin-top: 50px;
}
#character_male {
  position: absolute;
  background-image: url(../img/buttons/character_male.png);
  background-color: transparent;
  width: 230px;
  height: 80px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 120px;
  top: 730px;
}
#character_male:hover {
  background-image: url(../img/buttons/character_male_hover.png);
}
#character_female {
  position: absolute;
  background-image: url(../img/buttons/character_female.png);
  background-color: transparent;
  width: 230px;
  height: 80px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 780px;
  top: 730px;
}
#character_female:hover {
  background-image: url(../img/buttons/character_female_hover.png);
}
#character_name {
  float: left;
  background-image: url(../img/character_name.png);
  background-color: transparent;
  width: 640px;
  height: 460px;
  margin-top: 300px;
  margin-left: 280px;
}
input#txt_name[type='text'] {
  width: 480px;
  height: 50px;
  border-radius: 0px;
  font-size: 40px;
  position: absolute;
  top: 420px;
  left: 380px;
  background-color: #1A3642;
  border: none;
  color: white;
  font-family: Consolas, monaco, monospace;
}
#to_menu {
  position: absolute;
  background-image: url(../img/buttons/to_menu.png);
  background-color: transparent;
  width: 175px;
  height: 60px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 700px;
  top: 550px;
}
#to_menu:hover {
  background-image: url(../img/buttons/to_menu_hover.png);
}
.help {
  position: absolute;
  background-color: transparent;
  background-image: url(../img/buttons/help.png);
  width: 113px;
  height: 113px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  right: 10px;
  top: 10px;
}
.help:hover {
  background-color: transparent;
  background-image: url(../img/buttons/help_hover.png);
}
#help_menu {
  background-color: transparent;
}
#to_explorar {
  position: absolute;
  background-image: url(../img/buttons/to_explorar.png);
  background-color: transparent;
  width: 360px;
  height: 85px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 330px;
  top: 450px;
}
#to_explorar:hover {
  background-image: url(../img/buttons/to_explorar_hover.png);
}
#to_jugar {
  position: absolute;
  background-image: url(../img/buttons/to_jugar.png);
  background-color: transparent;
  width: 360px;
  height: 85px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 330px;
  top: 580px;
}
#to_jugar:hover {
  background-image: url(../img/buttons/to_jugar_hover.png);
}
.welcome_name {
  position: absolute;
  background-color: transparent;
  color: white;
  width: 300px;
  height: 70px;
  padding: 0px;
  left: 150px;
  top: 60px;
  font-size: 30px;
}
.character_selected_U {
  position: absolute;
  /*background-image: url(../img/character_selected_UM.png);*/
  background-color: transparent;
  width: 120px;
  height: 85px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 20px;
  top: 50px;
}
#character_selected {
  position: absolute;
  /*background-image: url(../img/character_selected_M.png);*/
  background-color: transparent;
  width: 130px;
  height: 220px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  right: 70px;
  top: 470px;
}
#back_opening_menu, .back_menu {
  position: absolute;
  background-image: url(../img/buttons/back_opening.png);
  background-color: transparent;
  width: 260px;
  height: 130px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 15px;
  bottom: 30px;
}
#back_opening_menu:hover, .back_menu:hover {
  background-image: url(../img/buttons/back_opening_hover.png);
}
#back_opening_custom {
  position: absolute;
  background-image: url(../img/buttons/back_opening_custom.png);
  background-color: transparent;
  width: 255px;
  height: 80px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 15px;
  top: 30px;
}
#back_opening_custom:hover {
  background-image: url(../img/buttons/back_opening_custom_hover.png);
}
#to_emprendedores {
  position: absolute;
  background-image: url(../img/buttons/to_emprendedores.png);
  background-color: transparent;
  width: 770px;
  height: 70px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 310px;
  top: 430px;
}
#to_emprendedores:hover {
  background-image: url(../img/buttons/to_emprendedores_hover.png);
}
#to_tips {
  position: absolute;
  background-image: url(../img/buttons/to_tips.png);
  background-color: transparent;
  width: 770px;
  height: 70px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 310px;
  top: 520px;
}
#to_tips:hover {
  background-image: url(../img/buttons/to_tips_hover.png);
}
#to_pasos {
  position: absolute;
  background-image: url(../img/buttons/to_pasos.png);
  background-color: transparent;
  width: 770px;
  height: 70px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 310px;
  top: 610px;
}
#to_pasos:hover {
  background-image: url(../img/buttons/to_pasos_hover.png);
}
#to_conocedor {
  position: absolute;
  background-image: url(../img/buttons/to_conocedor.png);
  background-color: transparent;
  width: 400px;
  height: 70px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 500px;
  top: 430px;
}
#to_conocedor:hover {
  background-image: url(../img/buttons/to_conocedor_hover.png);
}
#to_pensador {
  position: absolute;
  background-image: url(../img/buttons/to_pensador.png);
  background-color: transparent;
  width: 400px;
  height: 70px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 500px;
  top: 520px;
}
#to_pensador:hover {
  background-image: url(../img/buttons/to_pensador_hover.png);
}
#to_emprendedor {
  position: absolute;
  background-image: url(../img/buttons/to_emprendedor.png);
  background-color: transparent;
  width: 400px;
  height: 70px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 500px;
  top: 610px;
}
#to_emprendedor:hover {
  background-image: url(../img/buttons/to_emprendedor_hover.png);
}
.back_menu_explorar {
  position: absolute;
  background-image: url(../img/buttons/back_menu_explorar.png);
  background-color: transparent;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 30px;
  bottom: 40px;
}
.back_menu_explorar:hover {
  background-image: url(../img/buttons/back_menu_explorar_hover.png);
}
#next_emprendedores {
  position: absolute;
  background-image: url(../img/buttons/next_emprendedores.png);
  background-color: transparent;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  right: 30px;
  bottom: 40px;
}
#next_emprendedores:hover {
  background-image: url(../img/buttons/next_emprendedores_hover.png);
}
#next_tips {
  position: absolute;
  background-image: url(../img/buttons/next_emprendedores.png);
  background-color: transparent;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  right: 30px;
  bottom: 40px;
}
#next_tips:hover {
  background-image: url(../img/buttons/next_emprendedores_hover.png);
}
.check {
  position: absolute;
  background-image: url(../img/buttons/check.png);
  background-color: transparent;
  width: 113px;
  height: 113px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  right: 135px;
  top: 10px;
}
.check:hover {
  background-color: transparent;
  background-image: url(../img/buttons/check_hover.png);
}
.back_menu_jugar {
  position: absolute;
  background-image: url(../img/buttons/back_menu_explorar.png);
  background-color: transparent;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  left: 30px;
  bottom: 40px;
}
.back_menu_jugar:hover {
  background-image: url(../img/buttons/back_menu_explorar_hover.png);
  background-color: transparent;
}
#check_emprendedor {
  position: absolute;
  background-image: url(../img/buttons/next_emprendedores.png);
  background-color: transparent;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  right: 30px;
  bottom: 40px;
}
#check_emprendedor:hover {
  background-image: url(../img/buttons/next_emprendedores_hover.png);
  background-color: transparent;
}